@charset "utf-8";

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    
}  

/*==== header ====*/
header {
    position: relative;
    width: 100%; height: 356px;
    background: url(../images/헤더-배경.gif) no-repeat center top;
}

/* menu-logo-box */
.menu-logo-box {
    display: flex;
}
.left-menu,
.right-menu {
    width: 480px;
    background-color: aqua;
}
.left-menu > ul,
.right-menu > ul {
    display: flex;
}

/* left-menu */
.left-menu li {
    padding-right: 17px;
}

/* logo */
.logo {
    padding: 32px 40px 0 43px;
}

/* right-menu */
.right-menu > ul {
    position: absolute;
    left: 950px;
}
.right-menu li {
    padding-left: 26px;
}
.right-menu li select {
    border: 0;
    background: transparent;
}

/* header-icon */
.header-icon > ul {
    position: relative;
    display: flex;
    position: absolute;
    left: 880px;
    top: 245px;
    background-color: bisque;
}
.header-icon li {
    padding-left: 18px;
}
.header-icon li > form div {
    position: absolute;
    top: 5px;
    left: 160px;
}
.header-icon li > form div img {
    width: 18px;
}

/* main-menu */
.main-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
}
.main-menu .gnb {
    display: flex;
    height: 75px;
    align-items: center;
}
.main-menu .gnb > li {
    flex: 200px;
    padding: 0 80px;
}
.main-menu .gnb > li > a {
    font-weight: bold;
    font-size: 17px;
}


/*==== main ====*/
/* section display */
.display h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 46px 0;
}
.display .plus {
    display: inline-block;
    padding-left: 32px;    
}
.display .display-box {
    display: flex;
    align-items: center;
}
.display .display-box > .slide1 {
    margin-right: 20px;
}

.display .display-box > a {
    margin-right: 20px;
}


/* section view */
.view .view-guide {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    
}
.view .view-guide > .view-line1 {
    display: flex;
    border-bottom: 1px solid black;
}

.view .view-guide > .view-line1 > small {
    font-size: 12px;
    
}

/* section art */
.art {
    background-color: #f4f5f9;
    padding: 68px 0 81px 0;
    margin-top: 46px;
}
.art .online-art {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.art .online-art > p {
    margin-left: 47px;
    font-size: 16px;
}
.art .online-art > span {
    position: absolute;
    left: 1025px;
    top: 73px;
    font-size: 12px;
    font-weight: bold;
}

.art .mine-art > h2 {
        font-size: 24px;
        font-weight: bold;
        margin: 46px 0;
}
.art .mine-art .plus {
    display: inline-block;
    padding-left: 32px;    
}
.art .mine-art > .art-img {
    display: flex;
}

/* section notice */
.notice {
    background-color: aquamarine;
    height: 125px;
    margin-bottom: 81px;
}
.notice .notice-box {
    display: flex;
    justify-content: space-between;
    height: 125px;
    align-items: center;
}
.notice .notice-box > p {
    font-size: 18px;
}

/* section join */ 
.join {
    margin-bottom: 149px;
}
.join .join-box > ul {
    display: flex;
    justify-content: space-between;
}
.join .join-box li > a {
    width: 381px; height: 381px;
    border-radius: 50%;
    background-color: #f4f5f9;
    margin: 0 20px 45px 0;
}
.join .join-box li > strong {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 34px;
}
.join .join-box li > p {
    position: relative;
    font-size: 20px;
    margin-right: 120px;
}
.join .join-box li:last-child > p {
    margin-right: 0
}
.join .join-box li > .go a {
    position: absolute;
    bottom: -89px;
    font-size: 16px;
}
.join .join-box > .go a:hover {
    text-decoration: underline;
}

/* section program */
.program {
    position: relative;
    padding-bottom: 88px;
}
.program h2 {
    margin-bottom: 46px;
}
.program .program-box {
    position: absolute;
    top: 145px;
    left: 705px;
}
.program .program-box > h3 {
    margin-bottom: 45px;
    font-size: 24px;
    font-weight: normal;
}
.program .program-box > p {
    font-size: 18px;
}

.program .program-box a {
    margin-top: 102px;
}
.program .program-box a:hover {
    text-decoration: underline;
    font-weight: 600;
}


/*==== footer ====*/
footer {
    background-color: #434a61;
}

/* menu */
.menu .footer-menu > ul {
    display: flex;
    width: 723px;
    justify-content: space-between;
    padding: 62px 0;
}

/* footerlogo-info */
.footerlogo-info .footer-content-box {
    display: flex;
    align-items: center;
    background-color: aqua;
}

.footerlogo-info .footer-content-box > .info {
    display: flex;
    width: 837px;
    justify-content: space-between;
}

/*  footer-bottom */
.footer-bottom .footer-bottom-box {
    position: relative;
    display: flex;
    margin-top: 51px;
}
.footer-bottom .footer-bottom-box > .footer-bottom-logo {
    display: flex;
}
.footer-bottom .footer-bottom-box > .footer-bottom-logo > a {
    margin-right: 20px;
}
.footer-bottom .footer-bottom-box > .copyright {
    
}
.footer-bottom .footer-bottom-box > .footer-sns {
    position: absolute;
    top: 23px;
    left: 1113px;
    display: flex;
    align-items: center;
}
.footer-bottom .footer-bottom-box > .footer-sns > a {
    margin-left: 23px;
}
