@charset "utf-8";

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    
}  

/*==== header ====*/
header {
    position: relative;
    width: 100%; height: 356px;
    background: url(../images/헤더-배경.gif) no-repeat center top;
}

/* menu-logo-box */
.menu-logo-box {
    display: flex;
}
.left-menu,
.right-menu {
    width: 480px;
    background-color: aqua;
}
.left-menu > ul,
.right-menu > ul {
    display: flex;
}

/* left-menu */
.left-menu li {
    padding-right: 17px;
}

/* logo */
.logo {
    padding: 32px 40px 0 43px;
}

/* right-menu */
.right-menu > ul {
    position: absolute;
    left: 950px;
}
.right-menu li {
    padding-left: 26px;
}
.right-menu li select {
    border: 0;
    background: transparent;
}

/* header-icon */
.header-icon > ul {
    position: relative;
    display: flex;
    position: absolute;
    left: 880px;
    top: 245px;
    background-color: bisque;
}
.header-icon li {
    padding-left: 18px;
}
.header-icon li > form div {
    position: absolute;
    top: 5px;
    left: 160px;
}
.header-icon li > form div img {
    width: 18px;
}

/* main-menu */
.main-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
}
.main-menu .gnb {
    display: flex;
    height: 75px;
    align-items: center;
}
.main-menu .gnb > li {
    flex: 200px;
    padding: 0 80px;
}
.main-menu .gnb > li > a {
    font-weight: bold;
    font-size: 17px;
}


/*==== main ====*/
/* section display */
.display h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 46px 0;
}
.display .plus {
    display: inline-block;
    padding-left: 32px;    
}
.display .display-box {
    display: flex;
}
.display .display-box > a {
    margin-right: 20px;
}

/* section view */
.view .view-guide {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    
}
.view .view-guide > .view-line1 {
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 131px;
}

.view .view-guide > .view-line1 > small {
    font-size: 12px;
    
}

/* section art */
.art {
    background-color: #f4f5f9;
}
.art .online-art {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 47px 45px 47px;
}

.art .online-art > p {
    margin-left: 47px;
    font-size: 16px;
}
.art .online-art > span {
    position: absolute;
    left: 1025px;
    top: 73px;
    font-size: 12px;
    font-weight: bold;
}

.art .mine-art > h2 {
        font-size: 24px;
        font-weight: bold;
        margin: 46px 0;
}
.art .mine-art .plus {
    display: inline-block;
    padding-left: 32px;    
}
.art .mine-art > .art-img {
    display: flex;
}
